@model Cabinet

<style>
    .flex {
        display: flex;
    }

    li {
        list-style-type: none;
        padding: 10px;
        height: 50px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #submbtn {
        margin-left: 263px;
    }
</style>

<div>
    <form id="liform" asp-action="AddCabinetByForm" asp-controller="Admin">
        <div class="flex">
            <div>
                <ul>
                    <li>
                        <label asp-for="CabinetId">Enter Cabinet Id</label>
                    </li>
                    <li>
                        <label asp-for="NumberOfSeats">Enter Number Of Seats</label>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        @Html.TextBoxFor(c => c.CabinetId, new { autocomplete = "off" })
                    </li>
                    <li>
                        @Html.TextBoxFor(c => c.NumberOfSeats, new { autocomplete = "off" })
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <div class="text-danger">@Html.ValidationMessageFor(c => c.CabinetId)</div>
                    </li>
                    <li>
                        <div class="text-danger">@Html.ValidationMessageFor(c => c.NumberOfSeats)</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-danger">
            @ViewBag.ErrorMessage
        </div>
        <div>
            <input id="submbtn" type="button" value="Add Cabinet" class="btn btn-outline-dark" />
        </div>
    </form>
</div>
    
<script defer type="text/javascript">
    submbtn.onclick = function () {
        document.getElementById("liform").submit();
    }
</script>