<style>
    .flex {
        display: flex;
    }

    li {
        list-style-type: none;
    }

    ul {
        padding-left: 15px;
    }
</style>

<div class="flex">
    <div>
        <ul>
            <li>
                ___
            </li>
            <li>
                Subjects
            </li>
            <li>
                Classes
            </li>
            <li>
                Cabinets
            </li>
            <li>
                Teachers
            </li>
            <li>
                Students
            </li>
            <li>
                Marks
            </li>
            <li>
                Lessons
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                Add
            </li>
            <li>
                @Html.ActionLink("By Form", "AddSubjectByForm", "Admin")
            </li>
            <li>
                @Html.ActionLink("By Form", "AddClassByForm", "Admin")
            </li>
            <li>
                @Html.ActionLink("By Form", "AddCabinetByForm", "Admin")
            </li>
            <li>
                @Html.ActionLink("By Form", "AddTeacherByForm", "Admin")
            </li>
            <li>
                @Html.ActionLink("By Form", "AddStudentByForm", "Admin")
            </li>
            <li>
                @Html.ActionLink("By Form", "AddMarkByForm", "Admin")
            </li>
            <li>
                @Html.ActionLink("By Form", "AddLessonByForm", "Admin")
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                Add
            </li>
            <li>
                @Html.ActionLink("By XML", "AddSubjectByXml", "Admin")
            </li>
            <li>
                @Html.ActionLink("By XML", "AddClassByXml", "Admin")
            </li>
            <li>
                @Html.ActionLink("By XML", "AddCabinetByXml", "Admin")
            </li>
            <li>
                @Html.ActionLink("By XML", "AddTeacherByXml", "Admin")
            </li>
            <li>
                @Html.ActionLink("By XML", "AddStudentByXml", "Admin")
            </li>
            <li>
                @Html.ActionLink("By XML", "AddMarkByXml", "Admin")
            </li>
            <li>
                @Html.ActionLink("By XML", "AddLessonByXml", "Admin")
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                ___
            </li>
            <li>
                @Html.ActionLink("Delete", "DeleteSubject", "Admin")
            </li>
            <li>
                @Html.ActionLink("Delete", "DeleteClass", "Admin")
            </li>
            <li>
                @Html.ActionLink("Delete", "DeleteCabinet", "Admin")
            </li>
            <li>
                @Html.ActionLink("Delete", "DeleteTeacher", "Admin")
            </li>
            <li>
                @Html.ActionLink("Delete", "DeleteStudent", "Admin")
            </li>
            <li>
                @Html.ActionLink("Delete", "DeleteMark", "Admin")
            </li>
            <li>
                @Html.ActionLink("Delete", "DeleteLesson", "Admin")
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                ___
            </li>
            <li>
                @Html.ActionLink("Edit", "EditSubject", "Admin")
            </li>
            <li>
                @Html.ActionLink("Edit", "EditClass", "Admin")
            </li>
            <li>
                @Html.ActionLink("Edit", "EditCabinet", "Admin")
            </li>
            <li>
                @Html.ActionLink("Edit", "EditTeacher", "Admin")
            </li>
            <li>
                @Html.ActionLink("Edit", "EditStudent", "Admin")
            </li>
            <li>
                @Html.ActionLink("Edit", "EditMark", "Admin")
            </li>
            <li>
                @Html.ActionLink("Edit", "EditLesson", "Admin")
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                ___
            </li>
            <li>
                @Html.ActionLink("Export", "ExportSubjects", "Admin", new { name = "subjects.xml" })
            </li>
            <li>
                @Html.ActionLink("Export", "ExportClasses", "Admin", new { name = "classes.xml" })
            </li>
            <li>
                @Html.ActionLink("Export", "ExportCabinets", "Admin", new { name = "cabinets.xml" })
            </li>
            <li>
                @Html.ActionLink("Export", "ExportTeachers", "Admin", new { name = "teachers.xml" })
            </li>
            <li>
                @Html.ActionLink("Export", "ExportStudents", "Admin", new { name = "students.xml" })
            </li>
            <li>
                @Html.ActionLink("Export", "ExportMarks", "Admin", new { name = "marks.xml" })
            </li>
            <li>
                @Html.ActionLink("Export", "ExportLessons", "Admin", new { name = "lessons.xml" })
            </li>
        </ul>
    </div>
</div>